.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 100px;
  padding-top: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
  color: #000;
  text-transform: uppercase;
}

.App-intro {
  font-size: large;
}

button {
  margin: 5px;
}

.btndiv {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 50px;
  margin-top: 40px;
}

.blogbutton {
  border: 1px solid #60B0EA;
  border-radius: 3px;
  width: 90px;
  height: 30px;
  background-color: #60B0EA;
  color: #FFF;
}

.blogbutton:hover {
  background-color: #7091A8;
  color: #FFF;
  border: 1px solid #7091A8;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
