body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

h4 {
  color: grey;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin-left: 10px;
  font-style: italic;
}

button {
  border: 1px solid #7091A8;
  border-radius: 3px;
  width: 70px;
  height: 25px;
  color: #7091A8;
}

button:hover {
  background-color: #7091A8;
  color: #FFF;
}

button:focus {
  background-color: #7091A8;
  color: #FFF;
}

.sectionBlogs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.sectionTitle {
  text-transform: uppercase;
}

.allblogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dotted grey;
  margin: 10px;
  width: 750px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.blogtitle {
  color: #60B0EA;
}

.blogcontent {
  color: grey;
  font-size: 12px;
  width: 650px;
  text-align: left;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.catBtn {
  margin: 10px;
  width: 100px;
  height: 30px;
  background-color: #2C506A;
  color: #FFF;
}


.markread {
  width: 90px;
}

.read {
  width: 700px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
}

.star {
  width: 700px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.glasses {
  width: 40px;
  height: 40px;
}


.singleblog {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ADD BLOG PAGE */

.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.forminput {
  width: 600px;
  height: 25px;
  margin: 3px;
  border: 1px solid grey;
  border-radius: 2px;
  font-size: 14px;
}

.formtext {
  width: 600px;
  height: 200px;
  margin: 3px;
  font-size: 14px;
}

.submitBtn {
  margin: 3px;

}
